/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background: #f9d5bb;
    font-family: 'Source Code Pro', monospace;
    font-size: 10px;
  }

  /* se a tela tiver pelo menos 400px vai carregar estes estilos*/
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }

  /* breakpoint */
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }

  @media (min-width: 1200px) {
    body {
      font-size: 20px;
    }
  }
  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu li {
    list-style: none;
  }

  .menu a {
  display: block;
  padding: 10px 20px;
  }
  
  .menu a:hover {

  }
  a {
    color: teal; 
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .titulos {
   transform: scale(0.2) translateY(50vh);
   opacity: 0;

   animation: linear 2s animacaoTitulo forwards;
  }

@keyframes animacaoTitulo {
  0% {
    transform: scale(0.2) translateY(50vh);
   opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

  .site-subtitle,
  .site-title { 
    color: teal;
    text-align: center;
  }
  
  .site-title {
    font-size: 3em;
    font-family: 'Hind', sans-serif;
  }

  .site-subtitle {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
  } 
.contato,
  .portfolio {
    padding: 2em;
    min-height: 100vh;
}
.contato h2,
  .portfolio h2 {
    font-family: 'Roboto', sans-serif;
    color: teal;
    margin-bottom: 1.5em;
    font-size: 2em;
  }

  .portfolio .grid {
    display: grid;
    gap: 2em;
  }

  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 240px 240px;
    }
  }

  @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat(3, 260px);
      align-content: center;
      justify-content: center;
      height: calc(100vh - 48px - 8em);
    }
  }

  .portfolio figure {
    text-align: center;
  }
  
  .IFES { 
    height: 200px;
    width: 140px;
    transition: transform 500ms;
  }

  .Behance {
    height: 200px;
    width: 200px;
    transition: transform 500ms;
  }

  .img-portfolio {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;
    transition: transform 500ms;
  }

  .portfolio img:hover {
    transform: scale(1.13);
  }

  .contato .icons {
    text-align: center;
  }

  .contato a {
    color: teal;
    font-size: 4em;
    transition: text-shadow 1s;
  }

  .contato a:active,
  .contato a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 15px rgb(176, 218, 247, 0.8);
  }