body {
    background: #f9d5bb;
  }
  
  .menu {
    background-color: white; 
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu li {
    list-style: none;
  }
  
  a {
    color: teal; 
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title { 
    color: teal;
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
  } 
  